<div *ngIf="heroes.length>0; else noResults" class="heroesContainer row row-cols-1 row-cols-md-3">
    <!--md, para computadoras se muestra en columnas de 3
xs (phones), sm (tablets), md (desktops), and lg (larger desktops).-->
    <div class="card col-mb4" *ngFor="let heroe of heroes; let i = index">
        <img src={{heroe.img}} class="card-img-top img-fluid h-20" alt="...">
        <div class="card-block">
            <h4 class="card-title">{{heroe.nombre}}</h4>
            <p>{{heroe.bio}}</p>

        </div>

    </div>

</div>

<ng-template #noResults>
    <div class="alert alert-info">
        No hay resultados

    </div>

</ng-template>