/* You can add global styles to this file, and also import other style files */

body {
    padding-bottom: 50px;
}

.main-container {
    margin-top: 20px;
}


/*Animated */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.index-content .card {
    min-height: 441px;
    background-color: #FFFFFF;
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}


/* Grid css */

.index-content .btn {
    margin-top: auto;
}

.index-content .card {
    min-height: 441px;
    background-color: #FFFFFF;
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.index-content .card img {
    width: 260px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.index-content .card h4 {
    margin: 20px;
}

.index-content .card p {
    margin: 20px;
    opacity: 0.65;
}


/* Set width between block elements */

.small-padding.top {
    padding-top: 10px;
}

.small-padding.bottom {
    padding-bottom: 10px;
}

.small-padding.left {
    padding-left: 5px;
}

.small-padding.right {
    padding-right: 5px;
}

.margin_bottom {
    margin-bottom: 10px;
}


/*
  .row [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  */

.img-responsive {
    height: 100%;
}


/* Set full width on columns */

@media (max-width: 768px) {
    .img-responsive {
        width: 100%;
    }
    .index-content .card p {
        padding: 0 20px 10px;
        margin: 0;
    }
    /*
      .row [class*="col-"] {
          padding-right: 10px;
          padding-left: 10px;
      }
      .row {
          margin-left: -20px;
          margin-right: -20px;
      }
      */
}

@media (max-width: 991px) {
    h3 {
        font-size: 1.2em;
    }
}


/* GRID ELEMENTS MEDIA QUERIES */

@media (min-width: 768px) {
    .card {
        position: relative;
    }
    .card-content {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    .card-content h4,
    .card-content p {
        color: white;
        width: 100%;
        float: left;
        margin: 0 0 5px;
    }
    .card-content a {
        float: right;
    }
    .index-content .card h4,
    .index-content .card p {
        padding: 15px 20px;
        margin: 0;
    }
    .index-content .card p {
        padding: 0 20px 10px;
        margin: 0;
    }
    .card-content-textbox {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.7);
        margin: 15px;
        max-width: 300px;
        height: 91%
    }
}